*{
   box-sizing: border-box; 
}
h1{
    color: #09092f;
    text-align: center;
}
.display input{
    border: 15px solid #fff;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 10px;
    width: 97%;
    background-color: #fff;
    font-size: 40px;
}
.display input::placeholder{
    color: #080808;
}
.container{
    max-width: 350px;
    margin: 0 auto;
    box-shadow: 5px 2px 5px#b5d4ea;
    margin-top: 0px;
    border: 1px solid #fff;
    border-radius: 30px;
    box-sizing: border-box;
    padding: 10px;
    background-color: #1672d5;
}

body{
    background: #16688c;
    padding-bottom: 40px;
    padding-top: 40px;
}
 .calculator {
    background: none;
    border: none;
    width: 100%;
    padding: 30px;
    text-align: right;
    font-size: 50px;
}
.buttons{
padding: 20px;
display: grid;
grid-template-columns:repeat(4, 1fr);
grid-template-rows: repeat(3, 1fr);
grid-gap: 12px;
}
.button{
    background: rgba(111, 99, 99, 0.5);
    border: 1px solid #51a0f6;
    padding: 20px;
    color: rgb(6, 6, 6);
    border-radius: 4px;
    font-size: 21px;
    cursor: pointer;
}
.button:hover{
    box-shadow: 0 8px 25px #5e95cc;
}
.all-clear {
    grid-column: span 2;
}
.is-equals{
    grid-column: span 2;
}
.all-clear,
.is-equals{
    background: #0f69d0;
}
@media screen and (max-width: 320px) {
    .calculator {
        padding:10px;
        grid-template-columns: repeat(4, 54px);
        grid-template-rows: repeat(3, 1fr);
        grid-gap:12px;
    }

    .buttons {
        grid-template-columns: repeat(4, 54px);
        padding: 10px;
    }
}